/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --font-base: 'Lexend', sans-serif;
    --font-second-base: 'Inter', sans-serif;
    --bg-color: #ffffff;
    --text-color: #333333;
    --primary-color: #fca311;
    --secondary-color: #1f6f8b;
   
    
};

* {
    box-sizing: border-box;
    margin: var(--margin);
    padding: var(--padding);
    font-family: var(--font-family);
};
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-base);
    margin: 0;
    padding: 0;
}